// fontのカラー
$color-font-default: #000;
$color-font-gray: rgba(#000, 0.56);
$color-font-tag: #fff;

// iconのカラー
$color-icon-default: #000;
$color-icon-active: #fff;

// bgのカラー
$color-bg-default: #fff;
$color-bg-code: rgba(#000, 0.08);
$color-bg-tag: #000;

// strokeのカラー
$color-button-label-default: #000;
$color-button-label-active: #fff;
$color-button-bg-default: #fff;
$color-button-bg-active: #000;

// strokeのカラー
$color-stroke-default: rgba(#000, 0.16);

// ダークモードの時のカラーの変数
@media (prefers-color-scheme: dark) {
  // fontのカラー
  $color-font-default: #fff;
  $color-font-gray: rgba(#fff, 0.56);
  $color-font-tag: #000;

  // iconのカラー
  $color-icon-default: #fff;
  $color-icon-active: #000;

  // bgのカラー
  $color-bg-default: #000;
  $color-bg-code: rgba(#fff, 0.08);
  $color-bg-tag: #fff;

  // strokeのカラー
  $color-button-label-default: #fff;
  $color-button-label-active: #000;
  $color-button-bg-default: #000;
  $color-button-bg-active: #fff;

  // strokeのカラー
  $color-stroke-default: rgba(#fff, 0.16);
}
