$color-font-main: #003d21;
$color-font-gray-dark: #888;
$color-font-gray: #c4c4c4;
$color-font-white: #fff;
$color-font-black: #000;

$color-ui-main: #003d21;
$color-ui-sub: #adccbd;
$color-ui-gray: #c4c4c4;
$color-ui-white: #fff;
$color-ui-black: #000;

$color-bg-default: #f8f8f8;
$color-bg-sub: #c0dbce;
$color-bg-white: #fff;
$color-bg-gray: #ddd;

$color-stroke-gray: #e5e5e5;
$color-stroke-white: #fff;
