@mixin font-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

@mixin font-text-large {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

@mixin font-text-small {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

@mixin font-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}

@mixin font-title-large {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

@mixin font-title-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

@mixin font-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}

@mixin font-label-small {
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
}

@mixin font-input {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

@mixin font-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.08em;
}

@mixin font-btn-tight {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@mixin font-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-decoration-line: underline;
}

@mixin font-link-small {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-decoration-line: underline;
}
